@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-padding-top: 2rem;
  scroll-behavior: smooth;
}

:root {
  --light-color: #fff;
  --light-text: #837c7c;
  --orange-color: #f28627;
  --dark-orange: #de7a23;
  --gray-color: #615549;
  --dark-color: #0d0d0d;
}

/* scroll */

body {
  --sb-track-color: #232e33;
  --sb-thumb-color: #de7a23;
  --sb-size: 14px;
}

body::-webkit-scrollbar {
  width: var(--sb-size);
}

body::-webkit-scrollbar-track {
  background: var(--sb-track-color);
  border-radius: 1px;
}

body::-webkit-scrollbar-thumb {
  background: var(--sb-thumb-color);
  border-radius: 1px;
}

@supports not selector(::-webkit-scrollbar) {
  body {
    scrollbar-color: var(--sb-thumb-color) var(--sb-track-color);
  }
}

/* end-scroll */

/* nav */

nav {
  position: absolute;
  top: 0;
  height: 15vh;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: transparent;
  z-index: 1000;
}

nav .logo {
  display: flex;
  gap: 10px;
  align-items: center;
}

nav .logo img {
  width: 71px;
  height: 62px;
}

nav .logo a {
  text-decoration: none;
  color: var(--light-color);
  font-size: 1.5rem;
  font-weight: bold;
}

nav .nav-links ul {
  display: flex;
  gap: 2rem;
}

nav .nav-links ul li {
  list-style: none;
}

nav .nav-links ul li a {
  text-decoration: none;
  color: var(--light-color);
  font-weight: 500;
  font-size: 1rem;
}

nav .nav-links ul li a:hover {
  color: var(--dark-orange);
}

.join-btn {
  background-color: var(--dark-orange);
  text-decoration: none;
  color: var(--light-color);
  font-weight: bold;
  font-size: 1.2rem;
  padding: 0.8rem 2.2rem;
  border-radius: 10px;
  border: none;
  transition: 0.5s;
}

.join-btn:hover {
  scale: 1.1;
  background-color: var(--gray-color);
}

nav .toggle-btn {
  display: none;
  color: var(--dark-color);
  font-size: 1.5rem;
  cursor: pointer;
}

nav .dropdown {
  display: none;
  position: absolute;
  right: 2rem;
  top: 5rem;
  width: 300px;
  height: 0;
  background-color: var(--gray-color);
  backdrop-filter: blur(15px);
  border-radius: 10px;
  overflow: hidden;
  z-index: 1000;
  transition: 1s;
}

.dropdown.open {
  height: 270px;
}

nav .dropdown li {
  list-style: none;
  padding: 0.7rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

nav .dropdown li a {
  text-decoration: none;
  color: var(--dark-color);
  font-weight: 500;
  font-size: 1rem;
}

@media (max-width: 850px) {
  nav {
    justify-content: space-between;
    padding: 0 16px;
  }

  .nav-links,
  .join {
    display: none;
  }

  nav .toggle-btn {
    display: block;
    color: var(--light-color);
  }

  nav .dropdown {
    display: block;
  }
}

@media (max-width: 450px) {
  nav .dropdown {
    left: 2rem;
    width: unset;
  }
}

/* end-nav */

header {
  margin: auto;
  margin-top: 100px;
  width: 50%;
  height: auto;
  padding: 30px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

header h1 {
  text-transform: uppercase;
  margin-bottom: 10px;
}

header p {
  color: var(--light-text);
}

/* carousal */

.mySwiper2 {
  position: relative;
}

.mySwiper2 .swiper-slide {
  color: var(--light-color);
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  height: 90vh;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background: var(--img);
  -webkit-background-size: cover;
  background-size: cover;
  background-position: center;
  z-index: 1000;
}

.mySwiper2 .swiper-slide .black {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.386);
  display: flex;
  align-items: center;
}

.mySwiper2 .swiper-slide .welcome {
  margin-top: 70px;
  padding: 80px 10px 80px 150px;
  width: 60%;
  height: auto;
}

.mySwiper2 .swiper-slide .logo {
  width: 40%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mySwiper2 .swiper-slide .logo img {
  height: 330px;
  width: 360px;
}

.mySwiper2 .swiper-slide .welcome .title {
  font-weight: bold;
  text-transform: capitalize;
  font-size: 2.7rem;
}

.mySwiper2 .swiper-slide .welcome .title span {
  color: var(--dark-orange);
  text-transform: uppercase;
  font-size: 3.1rem;
}

.mySwiper2 .swiper-slide .welcome .subtitle {
  color: var(--light-color);
  margin: 20px 0;
  font-size: 1.7rem;
}

.mySwiper2 .swiper-slide .welcome a {
  text-decoration: none;
  padding: 10px 40px;
  font-size: 28px;
  font-weight: 600;
  background-color: var(--dark-orange);
  color: var(--light-color);
  border: none;
  border-radius: 5px;
  text-transform: capitalize;
  cursor: pointer;
  transition: 0.5s;
}

.mySwiper2 .swiper-slide .welcome a:hover {
  background-color: var(--gray-color);
  scale: 1.1;
}

.swiper-pagination-bullet {
  width: 15px;
  height: 15px;
  background: var(--dark-orange);
}

@media (max-width: 321px) {
  .mySwiper2 .swiper-slide {
    height: 115vh;
  }

  .mySwiper2 .swiper-slide .black {
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .mySwiper2 .swiper-slide .welcome {
    margin-top: 85px;
    width: 100%;
    padding: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .mySwiper2 .swiper-slide .welcome .title {
    text-align: center;
  }

  .mySwiper2 .swiper-slide .logo {
    width: 100%;
    display: none;
  }

  .mySwiper2 .swiper-slide .welcome .title,
  .mySwiper2 .swiper-slide .welcome .title span {
    font-size: 35px;
  }

  .curtain {
    width: 100%;
    height: auto;
    padding: 0 10px;
  }

  header {
    width: 90%;
  }

  header p {
    font-size: 13px;
  }
}

@media (min-width: 322px) and (max-width: 769px) {
  .mySwiper2 .swiper-slide {
    height: 115vh;
  }

  .mySwiper2 .swiper-slide .black {
    flex-direction: column;

    display: flex;
    justify-content: center;
    align-items: center;
  }

  .mySwiper2 .swiper-slide .welcome {
    padding: 35px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .mySwiper2 .swiper-slide .welcome .title {
    text-align: center;
  }

  .mySwiper2 .swiper-slide .logo {
    width: 100%;
    display: none;
  }

  .mySwiper2 .swiper-slide .welcome .title {
    font-weight: bold;
    text-transform: capitalize;
    font-size: 35px;
  }

  .mySwiper2 .swiper-slide .welcome .title span {
    font-size: 35px;
  }

  .curtain {
    width: 100%;
    height: auto;
    padding: 0 10px;
  }

  header {
    width: 90%;
  }

  header p {
    font-size: 13px;
  }
}

/* end-carousal */

/* about */

.about-container {
  margin-top: 100px;
  width: 100%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 3rem;
}

.about-container .left img {
  width: 400px;
  border-radius: 5px;
}

.about-container .right {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  width: 30%;
}

.about-container .right h1 {
  font-size: 2rem;
  color: var(--dark-orange);
}

.about-container .right p {
  font-size: 1.2rem;
  color: var(--dark-color);
}

.about-container .right a {
  font-size: 1.5rem;
  font-weight: 600;
  padding: 10px;
  background-color: var(--dark-orange);
  text-decoration: none;
  color: var(--light-color);
  border: none;
  border-radius: 5px;
  text-align: center;
  transition: 0.5s;
}

.about-container .right a:hover {
  scale: 1.1;
  background-color: var(--gray-color);
}

@media (max-width: 1100px) {
  .about-container .left img {
    width: 350px;
  }
  .about-container .right {
    margin-right: 50px;
    width: 40%;
    gap: 1rem;
  }
  .about-container .right a {
    font-size: 1rem;
  }
}

@media (max-width: 500px) {
  .about-container .left img {
    width: 300px;
  }
  .about-container .right {
    margin: 0;
    width: 90%;
    align-items: center;
  }
  .about-container .right p {
    text-align: center;
  }
  .about-container .right a {
    width: 90%;
  }
}

/* end-about */

/* events */

.curtain {
  width: 100%;
  height: auto;
  padding: 30px 65px;
}

.curtain-holder {
  width: 100%;
  height: 50px;
  z-index: 100;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.curtain-holder .holder {
  width: 100%;
  height: 3px;
  background-color: var(--dark-orange);
}

.curtain-holder .button-prev,
.curtain-holder .button-next {
  background-color: var(--dark-orange);
  color: var(--light-color);
  font-size: 25px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 1s;
}

.curtain-holder .button-prev:hover,
.curtain-holder .button-next:hover {
  background-color: var(--light-color);
  color: var(--orange-color);
  border: 2px solid var(--dark-orange);
}

.swiper {
  width: 100%;
  height: auto;
  background-color: var(--light-color);
}

.mySwiper .swiper-slide {
  width: 100%;
  height: 100%;

  text-align: center;
  font-size: 18px;
}

.mySwiper .swiper-slide .hand {
  width: 100%;
  height: 30px;
  position: relative;
}

.mySwiper .swiper-slide .hand i {
  position: absolute;
  top: 0px;
  animation-name: hand;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  font-size: 20px;
}

@keyframes hand {
  0% {
    top: 4 px;
  }

  50% {
    top: 8px;
  }

  100% {
    top: 0px;
  }
}

.mySwiper .swiper-slide .content {
  width: 100%;
  height: 85%;
  padding-bottom: 60px;

  border: solid 1px var(--dark-color);
  border-radius: 10px;
  position: relative;
}

.mySwiper .swiper-slide .content h3 {
  margin-top: 10px;
  text-align: left;
  padding-left: 5px;
  color: var(--dark-orange);
}

.mySwiper .swiper-slide .content p {
  text-align: left;
  font-size: 16px;
  padding: 0 10px;
  margin-top: 10px;
}

.mySwiper .swiper-slide .content .date {
  width: 100px;
  height: 30px;
  border-radius: 10px;
  color: var(--light-color);
  background-color: var(--dark-orange);
  position: absolute;
  bottom: 10px;
  right: 5px;
  display: flex;
  font-size: 13px;
  justify-content: center;
  align-items: center;
}

.mySwiper .swiper-slide .content .soon {
  background-color: var(--light-color);
  color: var(--dark-color);
  border: #000 1px solid;
}

.mySwiper .swiper-slide i {
  transform: rotate(180deg);
  color: var(--dark-orange);
}

/* end-events */

/* sponsors */

.wrapper {
  position: relative;
  left: 50%;
  transform: translate(-50%);
  width: 70%;
}

@keyframes slide {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-100%);
  }
}

.logos:hover .logos-slide {
  animation-play-state: paused;
}

.logos {
  overflow: hidden;
  padding: 60px 0;
  white-space: nowrap;
  position: relative;
}

.logos::before,
.logos::after {
  position: absolute;
  top: 0;
  width: 250px;
  height: 100%;
  content: "";
  z-index: 2;
}

.logos::before {
  left: 0;
  background: linear-gradient(
    to left,
    rgba(255, 255, 255, 0),
    var(--light-color)
  );
}

.logos::after {
  right: 0;
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 0),
    var(--light-color)
  );
}

.logos-slide {
  display: inline-block;
  animation: 15s slide infinite linear;
}

.logos-slide img {
  height: 100px;
  margin: 0 40px;
}

@media (max-width: 500px) {
  .wrapper {
    width: 95%;
  }
  .logos-slide img {
    height: 70px;
  }
  .logos::before {
    left: 0;
    background: none;
  }

  .logos::after {
    right: 0;
    background: none;
  }
}

/* end-sponsors */

/* footer */

footer {
  width: 100%;
  height: auto;
  background-color: var(--gray-color);
}

footer .top {
  padding: 50px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 1rem;
  flex-wrap: wrap;
}

footer .top .first {
  width: 250px;
}

footer .top .set {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 0.5rem;
}

footer .top .set h2 {
  font-size: 1.5rem;
  color: var(--dark-orange);
  margin-bottom: 5px;
}

footer .top .set p {
  font-size: 1rem;
  font-weight: 500;
  color: var(--light-color);
}

footer .top .set p a {
  font-size: 1rem;
  font-weight: 500;
  color: var(--light-color);
  text-decoration: none;
  transition: 0.5s;
}

footer .top .set p a:hover {
  color: var(--dark-orange);
  text-decoration: underline;
}

footer .top .set .contact-box {
  display: flex;
  justify-content: start;
  gap: 1rem;
}

footer .top .set .contact-box i {
  color: var(--light-color);
}

footer .bottom {
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 1rem;
}

footer .bottom p {
  color: var(--light-color);
  font-weight: 500;
}

footer .bottom .icons {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

footer .bottom .icons i {
  color: var(--light-color);
  font-size: 1.5rem;
  transition: 0.5s;
}

footer .bottom .icons i:hover {
  color: var(--dark-orange);
}

@media (max-width: 450px) {
  footer .top {
    flex-direction: column;
  }
  footer .top .set {
    width: 250px;
  }
  footer .bottom p {
    text-align: center;
  }
}

/* end-footer */
