@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-padding-top: 2rem;
  scroll-behavior: smooth;
}

:root {
  --light-color: #fff;
  --orange-color: #f28627;
  --dark-orange: #de7a23;
  --gray-color: #615549;
  --dark-color: #0d0d0d;
}

body {
  background-image: url(../img/Landing.png);
  background-size: cover;
  background-repeat: no-repeat;
  -webkit-backdrop-filter: blur(2px);
  backdrop-filter: blur(2px);
}

.container {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2.5rem;
}

.container img {
  height: 260px;
  width: 290px;
}

.container .text {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}

.container .text h1 {
  color: var(--light-color);
  font-size: 3rem;
}

.container .text h2 {
  color: var(--light-color);
  font-size: 1.8rem;
}

.container a {
  background-color: var(--dark-orange);
  padding: 10px 40px;
  font-size: 28px;
  font-weight: 600;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  color: var(--light-color);
  text-decoration: none;
  transition-duration: 0.5s;
}

.container a:hover {
  background-color: var(--gray-color);
  scale: 1.1;
}

@media (max-width: 450px) {
  .container {
    gap: 1.8rem;
  }

  .container img {
    height: 190px;
    width: 220px;
  }

  .container .text h1 {
    font-size: 2.3rem;
  }

  .container .text h2 {
    font-size: 1.7rem;
  }

  .container a {
    font-size: 22px;
  }
}
